body, html{
  height:100%;
}

body{
  margin: 0px;
  background-image: url("gifs/background.png");
  background-size: 100% 100%;
  font-size: 18px;
}

.shroomOut{
  background-image: url('gifs/backgroundShroom.gif');
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}

.mario {
  height: 120px;
  width: 120px;
  background-image: url("gifs/mario.gif");
  background-size: 100% 100%;
  position: absolute;

}

.marioJackson {
  height: 120px;
  width: 120px;
  background-image: url("gifs/marioJackson.gif");
  background-size: 100% 100%;
  position: absolute;

}

.luigi {
  height: 120px;
  width: 120px;
  background-image: url("gifs/luigiWorm.gif");
  background-size: 100% 100%;
  position: absolute;

}

.luigiBanana {
  height: 90px;
  width: 90px;
  background-image: url("gifs/luigiBanana.gif");
  background-size: 100% 100%;
  position: absolute;

}

.yoshi {
  height: 90px;
  width: 90px;
  position: absolute;

}